body {
	padding: 0;
	margin: 0;
}

html, body {
height: 100%;
width: 100%;
}

body {
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 12px;
}

.container {
background-color: white;
min-width: 1000px;
position: absolute;
visibility: visible;
border: 0px;
padding: 0px;
margin: 0px;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.content {
	top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
overflow: hidden;
position: absolute;
}

.main_menu{
color: #BBB;
overflow-x: hidden;
-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.1);
-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
-moz-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
background: #333;
padding-bottom: 5px;
z-index: 20;
border-right: 1px solid #222;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 3px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 3px;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 3px;
top: 0px;
bottom: 33px;
width: 180px;
position: absolute;
}

.right_column {
	top: 0px;
right: 0px;
bottom: 0px;
left: 180px;
overflow: auto;
position: absolute;
}
.right_column_container {
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
overflow: auto;
position: absolute;
display: block;
}
.page_header{
padding: 10px 15px;
border-bottom: 1px solid #D8D8D8;
background: #F0F0F0;
position: relative;
z-index: 2;
}

.h3 {
font-size: 20px;
color: #666;
}

.page_header .h3 {
margin-top: 6px;
font-weight: 300;
text-rendering: optimizeLegibility;
display: inline;
}
.group_count_text {
font-size: 16px;
font-weight: 300;
color: #656565;
text-align: right;
display: inline-block;
margin-right: 5px;
}
.group_count {
color: #444;
font-weight: 300;
font-size: 16px;
display: inline-block;
}

.page_content {
width: 100%;
height: 100%;
padding-right: 40px;
box-sizing: content-box;
position: relative;
overflow-y: scroll;
}
.content_wrapper{
	width: 1085px;
}

.activity_list {
	padding-bottom: 40px;
}

.activity_list .visitor_list_container {
border-bottom: 1px solid #E5E5E5;
padding-bottom: 4px;
}

.activity_list .visitor_list_title_header {
padding: 10px 20px 7px 13px;
cursor: pointer;
-moz-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
}
.activity_list .visitor_list_title_header span {
font-size: 14px;
color: #444;
}
.header_bar {
border-spacing: 0px;
padding: 10px 15px 6px 15px;
color: #AAA;
font-weight: bold;
font-size: 10px;
text-transform: uppercase;
}
.header_bar.visitor_table {
padding: 5px 15px 6px 15px;
}

.number_tag {
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
color: white;
background: #BBB;
font-weight: bold;
font-size: 11px;
display: inline-block;
width: 22px;
height: 17px;
line-height: 17px;
text-align: center;
}

.table_header {
-moz-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
cursor: default;
padding: 8px 10px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;
border-top: none !important;
font-size: 11px;
color: #CCC !important;
}

.table_header span {
font-size: 11px;
font-weight: bold;
text-transform: uppercase;
color: #BBB !important;
}

.activity_list .visitor_list_container {
border-bottom: 1px solid #E5E5E5;
padding-bottom: 4px;
}

.activity_list .visitorlist_row:hover {
background: whiteSmoke;
border: 1px solid #DDD;
border-width: 1px 0 1px;
position: relative;
margin-bottom: -1px;
z-index: 1;
}
.activity_list .visitor_table > div {
padding: 0 0 0 10px;
color: #555;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
line-height: 18px;
}

.activity_list .visitor_table .table_header {
line-height: 10px!important;
}

.activity_list .visitor_table .status_cell {
width: 18px;
text-align: center;
padding-left: 0;
}
.activity_list .visitor_table .name_cell {
width: 145px;
font-weight: bold;
font-size: 11px;
text-transform: uppercase;
color: #555;
}
.activity_list .visitor_table .icons_cell {
width: 70px;
}
.activity_list .visitor_table .time_cell {
width: 70px;
text-align: left;
}
.activity_list .visitor_table .served_cell {
width: 90px;
text-align: left;
}
.activity_list .visitor_table .numbers_cell {
width: 70px;
text-align: left;
}
.visitor_table .numbers_cell {
width: 70px;
text-align: left;
}

.activity_list .number_tag {
margin-right: 8px;
float: left;
line-height: 17px;
padding-top: 0;
}
.activity_list .visitor_table .page_cell {
width: 150px;
}
.activity_list .visitor_table .message_cell {
display: none;
text-align: left;
}
.activity_list .visitorlist_row {
padding: 5px 0 5px 5px;
margin: 0 15px 0 10px;
border: 1px solid whiteSmoke;
border-width: 1px 0 0;
cursor: pointer;
}
.status_cell div {
width: 18px;
height: 18px;
background: url(https://dashboard.zopim.com/dashboard/sprites/white.png);
}
.status_cell .status_icon_served {
background-position: 0 -220px;
}
.flag {
width: 12px;
height: 12px;
background: url(https://dashboard.zopim.com/dashboard/sprites/flags.png) no-repeat;
}

.flag.flag-fr {
background-position: -129px -48px;
}
.platform {
width: 16px;
height: 16px;
background: url(https://dashboard.zopim.com/dashboard/sprites/platforms.png) no-repeat;
}
.platform.Apple {
background-position: -16px 0;
}
.browser {
width: 16px;
height: 16px;
background: url(https://dashboard.zopim.com/dashboard/sprites/browsers.png) no-repeat;
}
.browser.Chrome {
background-position: 0 0;
}

